.header{
    color: rgb(237, 24, 219);
    text-align: center;
}
.ss1{
    color: blue;
    text-align: left;
}
.ss2{
    color: red;
    text-align: left;
}
.ss3{
    background-color: yellowgreen;
    text-align: left;
}